@font-face {
    font-family: 'Auto Techno Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Auto Techno Regular'), url('auto-techno.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Auto Techno Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Auto Techno Italic'), url('auto-techno italic.woff') format('woff');
    }

h1{
    font-family: 'Auto Techno Italic';
    color: rgb(12, 11, 12);

}   


/* media query */
@media screen and (max-width:1024px) {

    .heading{
        overflow: hidden;
        font-size: 45px;
    }
}
@media screen and (max-width:600px) {

    .heading{
        overflow: hidden;
        font-size: 40px;
    }
}
@media screen and (max-width:360px) {

    .heading{
        font-size: 25px;
    }
}
@media screen and (max-width:240px) {

    .heading{
        font-size: 20px;
    }
}